<%- include('_mailHeader') %>
  <h2>先月分のまとめて入力をお忘れなく</h2>
  <p><%= displayname %>さん、<%= month %> 月分のまとめて入力をしましょう！</p>
  <p>
    <a href="<%= url %>/login"  style="display: inline-block; padding: 10px 20px; background-color: #007BFF; color: #ffffff; text-decoration: none; border-radius: 5px;">
      まとめて入力を行う
    </a>
  </p>

</div>

<%- include('_mailFooter') %>