<%- include('_mailHeader') %>

<div class="email-container">
    <h2>新しいお問い合わせがあります</h2>
    <p><strong>お名前：</strong> <%= name %></p>
    <p><strong>メールアドレス：</strong> <%= email %></p>
    <p><strong>メッセージ：</strong></p>
    <p><%= message %></p>
    <br>
  <p>
    <a href="<%= url %>/admin/inquiries" style="display: inline-block; padding: 10px 20px; background-color: #007BFF; color: #ffffff; text-decoration: none; border-radius: 5px;">
      お問合せを見る
    </a>
  </p>
</div>

<%- include('_mailFooter') %>